div {

border: #223834 1px solid;
}

* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    height: 100vh;
}

.wrapper #row1 {

    background-color: darkolivegreen;
    padding: 10px;
}

.wrapper #row2 {
    display: flex;
    background-color: bisque;
    flex: 1 1 auto;
}

.wrapper #col1 {
    background-color: bisque;
    flex: 0 0 200px;
    padding: 10px;
}

.wrapper #col2 {

    background-color: bisque;
    flex: 1 1 auto;
    padding: 10px;

}

